@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hero-bg {
  position: relative;
}

.hero-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(1, 0%, 100%, 1);
  background-image: radial-gradient(
      at 45% 3%,
      hsla(251, 69%, 75%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 71% 62%, hsla(325, 89%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 27%, hsla(244, 80%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 5% 58%, hsla(294, 97%, 75%, 1) 0px, transparent 50%);
  z-index: -1;
  opacity: 0.5;
}

.hero-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  z-index: -1;
}

.engraved {
  @apply bg-gray-400/80 bg-clip-text text-transparent;
  text-shadow: rgba(249, 250, 251, 0.4) 1.5px 2px 0.25px;
}

.embossed-object {
  box-shadow: rgba(0, 0, 0, 0.025) 0px 2px 4px,
    rgba(0, 0, 0, 0.05) 0px 7px 13px -4px,
    rgba(0, 0, 0, 0.075) 0px -4px 0px inset;
}

.embossed-object:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 36px,
    rgba(0, 0, 0, 0.075) 0px 10px 15px -5px,
    rgba(255, 0, 0, 0.1) 0px -6px 0px inset;
}

.shadow-video {
  box-shadow: rgb(0 0 0 / 50%) 0px 10px 36px 0px,
    rgb(0 0 0 / 75%) 0px 0px 0px 2px;
}

.shadow-video:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 2px 2px inset;
  border-radius: inherit;
}
